<!DOCTYPE html>
{% load static %}
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href="{% static 'style.css'%}" rel="stylesheet">

<title>HTML Tutorial</title>
<body>

<h1 style="text-align: center; margin-top: 50px;">
  Kelvin|Celsius Converter
</h1>

<div class="btn-group button-wrapper">
  <a href="{% url 'kelvin' %}" class="btn btn-primary" aria-current="page">Kelvin</a>
  <a href="{% url 'celsius' %}" class="btn btn-primary">Celsius</a>
</div>

<div class="conv">
  {% block action %}
  {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>